* {
	box-model: border-box;
	margin: 0;
	padding: 0;
	border: 0px solid transparent;
	background: #222;
	color: #eee;
	font-family: sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#rant {
	position: relative;
	width: 98%;
	height: 80%;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 100px;
	margin: 1%;
	background: #222;
	color: #eee;
	font-size: 120%;
	font-weight: bold;
	display: block;
}

#rant_settings {
	width: 100%;
	height: 20%;
	left: 0;
	bottom: 0;
	position: absolute;
	line-height: 100px;
	text-align: center;
}

#make_it_rant {
	z-index: 10;
	font-size: 200%;
	font-weight: bold;
	border: 2px solid red;
	margin-left: 20%;
}